*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}



#nom{
    background: linear-gradient(to left, #09bad17a, #083aa765);
    background: linear-gradient(
    to bottom right,  
    #71a0cf, #4b67b4, 
    #4936b3, #e72ebf, 
    #886ace, #00C9FF);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 40s ease infinite;
    
}
@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

#nom h1, #nom p{
    color: white;
    font-size: 3em;
    text-align: center;
    
}

#nom h1{
    font-family: 'Aboreto', cursive;
}
#nom p{
    font-family: 'Dancing Script', cursive;
}

#nom > img {
    position: absolute;
    bottom: 0%;
    left: 10%;
    width: 20%;
}

/*Parcours*/
#parcours, .description{
    padding-left: 3%;
}
.date{
    margin-top: 2%;
    font: large 30px;
    color: rgba(62, 155, 104, 1);
}

/*Maps*/

.fp-slidesNav ul {
    margin-left: 43% !important;
}
#fp-nav ul li .fp-tooltip {
    color: #000 !important;
    font-size: 20px !important;
    top:0% !important;
}

.arrow_box {
	position: relative;
	background: rgba(255,255,255,0.5);
	border: 1px solid rgba(255,255,255,0);
    width: 30%;
    height: 20%;
    left: 35%;
    top: 25%;
    border-radius: 15px;
    padding: 20px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: rgba(255,255,255,0);
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: rgba(255,255,255,0.5);;
	border-width: 36px;
	margin-left: -36px;
}

.map h1{
    width: 100%;
    text-align: center;
    color: #bbdefb;
    font-weight: bold;
}

.map_content {
    display: flex;
    
    justify-content: center; 
    align-items: stretch; 
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: stretch;

    height: 90%;
    padding: 15px;
    gap: 5px;

  }


  .map_content > img { 
    flex-grow:0;
    align-self:center;
    height: 95%;
  }
			
  .map_content > p { 
    flex-grow:0;
    flex-shrink:1;
    align-self:center;
    width: 40%;
    padding: 5%;
    text-align: center;
}



/* Credits */
#contact div{
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: white;
}
