*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}



#nom{
    background: linear-gradient(to left, #09bad17a, #083aa765);
    background: linear-gradient(
    to bottom right,  
    #71a0cf, #4b67b4, 
    #4936b3, #e72ebf, 
    #886ace, #00C9FF);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 40s ease infinite;
}
@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}

#nom h1, #nom p{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: Roboto;
}

#nom > img {
    position: relative;
    top: 30%;
    left: 70%;
}

/*Parcours*/
#parcours, .description{
    padding-left: 3%;
}
.date{
    margin-top: 2%;
    font: large 30px;
    color: rgba(62, 155, 104, 1);
}

/*Maps*/
.fp-slidesNav ul {
    margin-left: 40% !important;
}
#fp-nav ul li .fp-tooltip {
    color: #000 !important;
    font-size: 20px !important;
    top:0% !important;
}

.map h1{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    color: #bbdefb;
}

.map_content {
    display: flex;
    
    justify-content: center; 
    align-items: stretch; 
    /* flex-flow: row nowrap; */ 
    flex-direction: row; 
    flex-wrap: nowrap; 
    align-content: stretch;

    height: 90%;
    padding: 15px;
    gap: 5px;

  }


  .map_content > img { 
    flex-grow:0;
    align-self:center;
    height: 95%;
  }
			
  .map_content > p { 
    flex-grow:0;
    flex-shrink:1;
    align-self:center;
    width: 40%;
    padding: 5%;
    text-align: center;
}



/* Credits */
#contact div{
    margin: auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}
