*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: Roboto;
}

#nom{
    background: linear-gradient(to left, #09bad17a, #083aa765);
    background: linear-gradient(
    to bottom right,  
    #71a0cf, #4b67b4, 
    #4936b3, #e72ebf, 
    #886ace, #00C9FF);
    background-repeat: no-repeat;
    background-size: 1000% 1000%;
    animation: gradient 40s ease infinite;
}
@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
  }


// Portfolio
.fp-slidesNav ul {
    margin-left: 40% !important;
    background-color: hotpink;
}
#fp-nav ul li .fp-tooltip {
    color: #000 !important;
    font-size: 20px !important;
    top:0% !important;
}




